/* Main */
:root{
    --main-color:#0088FF;
    --maintransition:.6s;
}
ul li{
    list-style: none;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: unset;
    color: unset;
}
a:hover{
    color: unset;
}
/* -------- Start Nav --------- */
nav{
    padding: 21px 10px 10px 10px;
    overflow: hidden;
}
nav .logo p{
    color: var(--main-color);
    font-size: 23px;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
nav .logo p::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #FE5DA3;
    right: 25px;
    border-radius: 50% 30% 40%;
}
nav .net{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .net ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .net ul li{
    margin-inline: 15px;
    cursor: pointer;
    font-size: 17px;
    transition: var(--maintransition);
    color: #6c757d;
    font-weight: 400;
}
nav .net ul li:hover{
    color: black;
}
/* ------- Home ------ */
#Home{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
#Home::before{
    content: url('../img/More/HomeSec2.png');
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 10px;
    bottom: 20%;
    z-index: -1;
}
#Home .net{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Home .net .img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    animation: height ease-in-out 3s infinite;
    transform: translateY(20px);
    cursor: pointer;
}
@keyframes height {
    0%{
        transform: translateY(20px)
    }
    50%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(20px)
    }
}
#Home .net .img img{
    width: 100%;
}
#Home .net .info .txt h2{
    color: #1C2F42;
    font-size: 40px;
/*    font-family: sans-serif;
    font-family: -webkit-pictograph; Change-Font*/
}
#Home .net .info .txt p{
    color: #666666;
    font-size: 20px;
    width: 68%;
    margin: 20px 0 150px 0;
}
#Home .net .info .btns a button{
    font-size: 19px;
    font-weight: 600;
    border-radius: 10px 0 10px;
    width: 200px;
    height: 43px;
    font-weight: 600;
}
#Home .net .info .btns a{
    color: unset;
    background-color: unset;
}
#Home .net .info .btns :nth-child(1) button{
    background-color: var(--main-color);
    color: #fff;
    border: none;
    margin-right: 15px;
}
#Home .net .info .btns :nth-child(2) button{
    background-color: transparent;
    border: 2.5px solid var(--main-color);
    color: var(--main-color);
    transition: calc(var(--maintransition) - .1s);
}
#Home .net .info .btns :nth-child(2) button:hover{
    background-color: var(--main-color);
    color: white;
}
/* -- ------- How To Earn ------ -- */
#Earn{
    padding: 100px 0;
    overflow: hidden;
}
#Earn .info{
    text-align: center;
}
#Earn .info h2{
    font-weight: bold;
    margin-bottom: -1px;
}
#Earn .info p{
    color: #666666;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 3px;
}
#Earn .info :last-child{
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#Earn .info span{
    color: var(--main-color);
    font-weight: bold;
}
#Earn .net{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Earn .net article{
    text-align: center;
    color: #666666;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    transition: var(--maintransition);
}
#Earn .net article:hover{
    transform: translateY(-10%);
}
#Earn .net article img{
    margin-bottom: 15px;
    width: 130px;
    height: 130px;
    object-fit: cover;
}
/* --------- Why Eg Sec ------- */
#Why{
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}
#Why::before{
    content: '';
    width: 110%;
    height: 120%;
    position: absolute;
    z-index: -1;
    background-color: #0088FF;
    opacity: 0.050980392156862744;
    top: -10%;
    left: -10%;
    transform: skew(-10deg);
    border-radius: 10px 50px 10%;
}
#Why .net{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Why .net .img{
    width: 20%;
    margin-right: 10%;
}
#Why .net .img img{
    width: 100%;
}
#Why .net .info h2{
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 40px;
    color: #1C2F42;
}
#Why .net .info h2 span{
    color: var(--main-color);
    font-weight: bold;
}
#Why .net .info ul li{
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    padding-left: 10px;
}
#Why .net .info ul li::before{
    content: '';
    position: absolute;
    left: -5px;
    top: 53%;
    transform: translate(-100%, -50%);
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
}
/* ------ Statistics -------  */
#Statistics{
    padding: 100px 0;
    overflow: hidden;
}
#Statistics h2{
    display: block;
    text-align: center;
    margin-bottom: 60px;
}
#Statistics .net{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Statistics .net article{
    text-align: center;
    cursor: pointer;
    transition: var(--maintransition);
}
#Statistics .net article:hover{
    transform: translateY(-15px);
}
#Statistics .net article img{
    width: 130px;
    margin-bottom: 5px;
}
#Statistics .net article :nth-child(2){
    margin-bottom: 0;
    letter-spacing: 2px;
}
#Statistics .net article :where(:nth-child(2), :nth-child(3)){
    font-size: 18px;
    font-weight: 800;
    color: var(--main-color);
}
/* ---------- Contact US ---------- */
#Contact{
    padding: 80px 0;
    position: relative;
}
#Contact::before{
    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.050980392156862744;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 20%);
}
#Contact .form h2{
    margin-bottom: 40px;
    color: #1C2F42;
    font-size: 50px;
}
#Contact .net{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}
#Contact .form label{
    display: block;
    margin-bottom: 10px;
    font-size: 19px;
    font-weight: 800;
}
#Contact .form label:nth-of-type(2),
#Contact .form label:nth-of-type(3){
    margin-top: 20px;
}
#Contact .net .form{
    width: 30%;
}
#Contact .net .form :where(input, textarea, button){
    padding: 8px;
    width: 100%;
    outline: none;
    border-radius: 10px;
    border: 2px solid #ddd;
    caret-color: var(--main-color);
}
#Contact .net .form textarea{
    height: 280px;
    resize: none;
}
#Contact .net .form button{
    font-size: 20px;
    font-weight: 600;
    color: white;
    border: unset;
    background-color: var(--main-color);
    margin-top: 20px;
    padding: 10px;
}
#Contact .img{
    width: 40%;
}
#Contact img{
    width: 100%;
}
/* ------- footer ------  */
footer{
    background-color: #031431;
    padding: 30px 0 0;
    color: white;
    overflow: hidden;
}
footer .net{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}
footer .net .col11 p{
    font-size: 25px;
    margin-bottom: 25px;
}
footer .net .col11 ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}
footer .net .col11 ul li{
    font-size: 18px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--maintransition);
}
footer .net .col11 ul li:hover{
    transform: translateY(-6px);
}
footer .net .col11 ul > :first-child{
    background-color: #114ddf;
    margin-right: 10px;
}
footer .net .col11 ul > :last-child{
    background-color: #02a7de;
}
footer .net .col22 p{
    font-size: 25px;
    margin-bottom: 20px;
}
footer .net .col22 ul{
    padding-left: 10px;
}
footer .net .col22 ul li{
    font-size: 18px;
    margin-block: 10px;
    cursor: pointer;
    transition: var(--maintransition);
}
footer .net .col22 ul li:hover{
    transform: translateX(10px);
}
footer .net .col33 .img{
    padding-top: 30px;
    position: relative;
}
footer .net .col33 img{
    width: 200px;
}
footer .net .col33 .img::before{
    content: 'EgyFouset';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: bold;
}
footer .net .col33 .img::after{
    content: '';
    position: absolute;
    top: -5px;
    right: 5px;
    width: 7px;
    height: 7px;
    background-color: #FE5DA3;
    border-radius: 50% 30% 40%;
}
footer .copyRight p{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-block: 20px;
}
footer .copyRight p span{
    color: var(--main-color);
}
footer .copyRight p span:last-of-type{
    color: red;
    font-size: 25px;
}
/* ----- Media Query ---- */
@media(max-width:976px){
    #Home .net .info .txt h2{
        font-size: 25px;
    }
    #Home .net .info .txt p{
        font-size: 15px;
    }
    #Home .net .info .btns button{
        font-size: 15px;
        width: 150px;
    }
    #Contact .form h2{
        font-size: 40px;
    }
    #Contact .img{
        width: 30%;
    }
    #Contact .net .form{
        width: 50%;
    }
}
@media(max-width:776px){
    #Home .net .info .txt h2{
        font-size: 20px;
    }
    #Home .net .info .txt p{
        font-size: 13px;
    }
    #Home .net .info .btns button{
        font-size: 14px;
        width: 120px;
    }
    #Home .net .img{
        width:60%;
    }
    #Earn .info :last-child{
        font-size: 14px;
    }
    #Earn .net article img{
        width: 90px;
        height: 90px;
    }
    #Contact .img{
        display: none;
    }
    #Contact .net .form{
        width: 90%;
    }
    footer .col11,
    footer .col22{
        width: 50%;
        text-align: center;
    }
    footer .col11 ul{
        justify-content: space-evenly;
    }
    footer .net{
        justify-content: center;
    }
    #Statistics .net{
        flex-direction: column;
        gap: 25px;
    }
}
@media(max-width:480px){
    #Home .net .img{display: none}
    #Home .net .info{text-align: center}
    #Home .net .info .txt p{
        width: 100%;
        font-size: 18px;
        margin-bottom: 60px;
    }
    #Home .net .info .txt h2{
        font-size: 27px;
    }
    #Home .net .info .btns button{
        font-size: 15px;
    }
    #Earn .info :last-child{
        display: none;
    }
    #Earn .net{
        display: grid;
        grid-row-gap: 20px;
    }
    #Why .net .img{
        display: none;
    }
    #Why,
    #Statistics{
        padding-bottom: 25px;
    }
    footer .net{
        display: grid;
        grid-row-gap: 30px;
    }
    footer .net > *{
        width: 100%;
    }
    #Statistics .net{
        display: grid;
        grid-row-gap: 20px;
    }
    #Statistics h2{
        font-size: 40px;
    }
    #Contact .form h2{
        text-align: center;
    }
    footer .net .col33 .img,
    nav .net .ul{
        display: none;
    }
    nav .net .logo{
        margin: auto;
    }
    nav .logo p{
        font-size: 28px;
    }
}
@media(max-width:280px){
    #Home .net .info .btns > :first-child{
        margin: 20px;
    }
    #Home .net .info .txt h2{
        font-size: 22px;
    }
    #Home .net .info .txt p{
        font-size: 16px;
    }
    #Earn .info p{
        letter-spacing: unset;
    }
    #Why .net .info h2{
        font-size: 28px;
    }
    #Why .net .info ul li{
        font-size: 17px;
    }
}
/* ------ SignUp -------- */
#login-nav .logo p{
    width: fit-content;
}
/* ----- Sign Up Sec ----- */
#signup-sec{
    padding: 5px 0 60px;
}
#signup-sec::before{
    content: '';
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 100%;
    height: calc(60% + 60px);
    background: url(../img/More/HomeSec2.png) no-repeat;
    background-size: cover;
    z-index: -1;
}
#signup-sec::after{
    content: '';
    position: absolute;
    bottom: calc(-60px - 550px);
    left: 0;
    width: 100%;
    height: calc(60% + 60px);
    background: url(../img/More/HomeSec2.png) no-repeat;
    background-size: cover;
    z-index: -1;
    display: none;
}
#signup-sec h2{
    font-weight: 700;
    margin-bottom: 50px;
    color: #1a2f42;
}
#signup-sec .net{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#signup-sec .net .form{
    padding-left: 20px;
    width: 35%;
}
#signup-sec .net .form input{
    background-color: #f3f3f3;
    border: none;
    padding: 12px;
    width: 100%;
    outline: none;
    border-radius: 12px;
    font-size: 23px;
    caret-color: var(--main-color);
    border: 1px solid #e0e0e0;
}
#signup-sec .net .form label{
    display: block;
    margin-top: 25px;
    margin-bottom: 6px;
    color: #6c757d;
    font-weight: 600;
}
#signup-sec .net .form p{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}
#signup-sec .net .form p a{
    color: var(--main-color);
    font-weight: bold;
    cursor: pointer;
}
#signup-sec.login .net .form p a{
    color: #1a2f42;
}
#signup-sec .net .form button{
    border: none;
    padding: 10px;
    width: 100%;
    outline: none;
    border-radius: 12px;
    font-size: 20px;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
}
#signup-sec .net .form input:last-of-type{
    margin-bottom: 40px;
}
#signup-sec .net .img{
    width: 40%;
    margin-right: 40px;
    transform: translateY(40px);
    animation: height ease-in-out 3s infinite;
}
#signup-sec .net .img img{
    width: 100%;
}
/* Signup Sec respnsev  */
@media (max-width:990px) {
    #signup-sec .net .form{
        padding-left: 0;
        width: 45%;
    }
}
@media (max-width:800px) {
    #signup-sec .net{
        flex-direction: column-reverse;
        row-gap: 30px;
    }
    #signup-sec::after{
        display: block;
    }
    #signup-sec .net .img{
        width: 60%;
        margin-top: 50px;
    }
    #signup-sec .net .form{
        width: 80%;
    }
    #signup-sec .net .form h2{
        text-align: center;
    }
}
@media (max-width:350px){
    #signup-sec .net .form p{
        text-align: center;
        font-weight: 600;
        font-size: 14px;
    }
}
input.erorr{
    border: 1px solid red !important;
    box-shadow: inset 0 0 3px rgba(255, 0, 0, 0.459),
                0 0 8px rgba(255, 0, 0, 0.459);
}
input.erorr + p{
    color: red;
}
/* Login Page  */
#signup-sec.login{
    padding: 100px 0;
}
/* ----- Forget Password ----- */
#signup-sec.forgetpassword{
    padding: 100px 0;
}